.smashCardsGlobal{
    display: flex;
    flex-direction: column;
    width: 370px;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 20px 10px;
    box-shadow: 0px 2px 5px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: antiquewhite;
    margin-right: 10px;
    border-radius:2%;
}

.smashCardsGlobal img {
    width: 210px;
}

.smashCardsGlobal p{
    font-family: sans-serif;

   
}

.blaze {
    font-weight: bolder;
    text-decoration:underline;
    font-size: 20px;
}

.descriptif{
    font-weight: 500%;
    color: black;
    box-shadow: 0px 2px 5px;
    border-radius: 2%;
    font-size: 15px;
    text-align: center;
    
   
}

.smashCardImg{
    background-color: rgb(134, 130, 130);
    border-radius: 10%;
}
